<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobly</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <style>
        body{
            background-color: #f0f0f0;
        }
    </style>

</head>
<body>
    
    <div id="landing">

        <div class="row justify-content-center align-items-center content">
            <div class="col-lg-4 text-center">
                <h4>Do you miss your OAs?</h4>
                <h4>Forget to prepare for Interview?</h4>
                <h4>Not Anymore.</h4>
                <a class="navbar-brand" href="/">
                <img src="../images/android-chrome-192x192.png" alt="" class="align-text-center mb-1">
                Jobly
                </a>
            </div>
            <div class="col-lg-4">
                <div class="container border rounded-2 border-dark py-4 login">
                <h4 class="text-center mb-3">Login</h4>
                <form action="/login" method="post">
                <div class="form-group">
                    <input type="email" class="form-control my-2 mx-auto" name="username" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control my-2 mx-auto" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <button class="btn btn-success"><a href="/register" class="register text-light">Register</a></button> <hr>
                <div class="text-center">
                <a href="/auth/google" class="google mx-2 text-danger">
                    <i class="bi bi-google"></i>
                    Sign In with Google
                </a>
                </div>
            </div>
            </div>
        </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>